
body{
	background: rgb(29, 27, 27);
	text-align: center;
	width: 800px;
	height: 100%;
	font-family: 'Squada One', cursive;
	margin: 0 auto;
	
	
}
#container{
	height: 600px;
	width: 800px;
	align-content: center;
	position: relative;
}

#inputbox{
	padding: auto;
	margin: auto;
	width: 420px;
}

#list{
	padding: 5px;
	margin: 10px 0;

}

h1{
	background-color: #0080ff;
	color: #ffffff;
	border-radius: 25px;
	width: 420px;
	padding: 5px;
	margin: 5px auto;
	
}

input{
	border-radius: 5px;
	width: 350px;
	height:25px;
	padding: 5px;
	border: none;
	font-size: 18px;
	position: relative;
}

button{
	background-color: rgb(29, 27, 27);
	color: #ffffff;
	border: 2px rgb(43, 43, 245) solid ;
	border-radius: 25px;
	height: 35px;
	font-weight: bold;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	color: blue;

}

button:hover{
	box-shadow: 0px 0px 5px rgb(43, 43, 245,0.3),0px 0px 10px rgb(43, 43, 245,0.8);

}
.bt:active{
	font-size: 16px;
}
ol{
	position: relative;
	width: 420px;
	margin: auto;
	padding: 5px;
	box-sizing: border-box;
	list-style: none;

}

ol, li{
	display: block;
	background: #808080;
	padding: 5px auto;
	color: aliceblue;
	margin: 5px auto;
	transition: .5s;

}
